@font-face {
  font-family: "FontCoolv";
  src: url("../Fonts/coolvetica.otf"); }

* {
  margin: 0;
  padding: 0; }

html {
  scroll-behavior: smooth; }

@media (min-width: 992px) {
  #Section__home {
    height: 100vh;
    width: 100%; }
    #Section__home .home__header {
      height: 90px;
      width: 100%;
      position: fixed;
      right: 0;
      left: 0;
      display: grid;
      grid-template-areas: "header__RowH1 header__RowH2";
      grid-template-columns: 3fr 6fr; }
      #Section__home .home__header .header__RowH1 {
        grid-area: header__RowH1;
        background-color: rgba(68, 68, 68, 0.5);
        display: flex;
        justify-content: center; }
        #Section__home .home__header .header__RowH1 .RowH1__Logo {
          height: 80px;
          width: 200px;
          margin-top: 5px;
          border-radius: 20px;
          background-color: #b34af0; }
      #Section__home .home__header .header__RowH2 {
        grid-area: header__RowH2;
        background-color: rgba(109, 109, 109, 0.295); }
        #Section__home .home__header .header__RowH2 .RowH2__menu {
          list-style: none;
          display: flex;
          position: relative;
          top: 30px; }
          #Section__home .home__header .header__RowH2 .RowH2__menu .menu__list {
            display: inline-block;
            text-align: center;
            width: 180px;
            font-size: 18px; }
            #Section__home .home__header .header__RowH2 .RowH2__menu .menu__list .link {
              text-decoration: none;
              font-family: "FontCoolv";
              font-size: 20px;
              color: white;
              transition: all 0.5s; }
            #Section__home .home__header .header__RowH2 .RowH2__menu .menu__list .link:hover {
              text-decoration: none;
              font-family: "FontCoolv";
              font-size: 20px;
              color: #e78709; }
    #Section__home .home__headerMob {
      display: none; }
    #Section__home .home__dropdown {
      display: none; }
    #Section__home .home__main {
      height: 100vh;
      width: 100%;
      background-color: rgba(142, 255, 240, 0.336); }
  #Section__services {
    height: 800px;
    width: 100%; }
    #Section__services .services__main {
      height: 100vh;
      width: 100%;
      background-color: rgba(142, 255, 240, 0.336); }
  #Section__products {
    height: 800px;
    width: 100%; }
    #Section__products .products__main {
      height: 100vh;
      width: 100%;
      background-color: rgba(142, 255, 240, 0.336); }
  #Section__prices {
    height: 760px;
    width: 100%; }
    #Section__prices .prices__main {
      height: 100vh;
      width: 100%;
      background-color: rgba(142, 255, 240, 0.336);
      padding-left: 20px;
      padding-right: 20px; }
      #Section__prices .prices__main .main__TitlePrice {
        font-size: 55px; }
      #Section__prices .prices__main .main__Text {
        font-size: 20px; }
  #Section__contact {
    height: 800px;
    width: 100%; }
    #Section__contact .contact__main {
      height: 100vh;
      width: 100%;
      background-color: rgba(142, 255, 240, 0.336); }
  .footer {
    height: 300px;
    width: 100%; } }

@media (min-width: 767px) and (max-width: 1425px) {
  #Section__home {
    height: 100vh;
    width: 100%; }
    #Section__home .home__header {
      height: 90px;
      width: 100%;
      position: fixed;
      right: 0;
      left: 0;
      display: grid;
      grid-template-areas: "header__RowH1 header__RowH2";
      grid-template-columns: 3fr 6fr; }
      #Section__home .home__header .header__RowH1 {
        grid-area: header__RowH1;
        background-color: #444444;
        display: flex;
        justify-content: center; }
        #Section__home .home__header .header__RowH1 .RowH1__Logo {
          height: 80px;
          width: 200px;
          margin-top: 5px;
          border-radius: 20px;
          background-color: #f11414; }
      #Section__home .home__header .header__RowH2 {
        grid-area: header__RowH2;
        background-color: #6d6d6d; }
        #Section__home .home__header .header__RowH2 .RowH2__menu {
          list-style: none;
          display: flex;
          position: relative;
          top: 30px; }
          #Section__home .home__header .header__RowH2 .RowH2__menu .menu__list {
            display: inline-block;
            text-align: center;
            width: 120px;
            font-size: 10px; }
            #Section__home .home__header .header__RowH2 .RowH2__menu .menu__list .link {
              text-decoration: none;
              font-family: "FontCoolv";
              font-size: 18px;
              color: white;
              transition: all 0.5s; }
            #Section__home .home__header .header__RowH2 .RowH2__menu .menu__list .link:hover {
              text-decoration: none;
              font-family: "FontCoolv";
              font-size: 18px;
              color: #e78709; }
    #Section__home .home__headerMob {
      display: none; }
    #Section__home .home__dropdown {
      display: none; }
    #Section__home .home__main {
      height: 100vh;
      width: 100%;
      background-color: rgba(142, 255, 240, 0.336); } }

@media (min-width: 767px) and (max-width: 991px) {
  #Section__home {
    height: 100vh;
    width: 100%; }
    #Section__home .home__header {
      height: 90px;
      width: 100%;
      position: fixed;
      right: 0;
      left: 0;
      display: grid;
      grid-template-areas: "header__RowH1 header__RowH2";
      grid-template-columns: 3fr 6fr; }
      #Section__home .home__header .header__RowH1 {
        grid-area: header__RowH1;
        background-color: #444444;
        display: flex;
        justify-content: center; }
        #Section__home .home__header .header__RowH1 .RowH1__Logo {
          height: 80px;
          width: 200px;
          margin-top: 5px;
          border-radius: 20px;
          background-color: #1805be; }
      #Section__home .home__header .header__RowH2 {
        grid-area: header__RowH2;
        background-color: #6d6d6d; }
        #Section__home .home__header .header__RowH2 .RowH2__menu {
          list-style: none;
          display: flex;
          position: relative;
          top: 30px; }
          #Section__home .home__header .header__RowH2 .RowH2__menu .menu__list {
            display: inline-block;
            text-align: center;
            width: 80px;
            font-size: 18px; }
            #Section__home .home__header .header__RowH2 .RowH2__menu .menu__list .link {
              text-decoration: none;
              font-family: "FontCoolv";
              font-size: 18px;
              color: white;
              transition: all 0.5s; }
            #Section__home .home__header .header__RowH2 .RowH2__menu .menu__list .link:hover {
              text-decoration: none;
              font-family: "FontCoolv";
              font-size: 18px;
              color: #e78709; }
    #Section__home .home__headerMob {
      display: none; }
    #Section__home .home__dropdown {
      display: none; }
    #Section__home .home__main {
      height: 100vh;
      width: 100%;
      background-color: rgba(142, 255, 240, 0.336); }
  #Section__services {
    height: 800px;
    width: 100%; }
    #Section__services .services__main {
      height: 100vh;
      width: 100%;
      background-color: rgba(142, 255, 240, 0.336); }
  #Section__products {
    height: 800px;
    width: 100%; }
    #Section__products .products__main {
      height: 100vh;
      width: 100%;
      background-color: rgba(142, 255, 240, 0.336); }
  #Section__prices {
    height: 730px;
    width: 100%; }
    #Section__prices .prices__main {
      height: 100vh;
      width: 100%;
      background-color: rgba(142, 255, 240, 0.336); }
  #Section__contact {
    height: 800px;
    width: 100%; }
    #Section__contact .contact__main {
      height: 100vh;
      width: 100%;
      background-color: rgba(142, 255, 240, 0.336); }
  .footer {
    height: 300px;
    width: 100%; } }

@media (min-width: 576px) and (max-width: 766px) {
  #Section__home {
    height: 100vh;
    width: 100%; }
    #Section__home .home__header {
      display: none; }
    #Section__home .home__headerMob {
      height: 90px;
      width: 100%;
      display: flex;
      justify-content: end;
      position: fixed;
      left: 0;
      right: 0; }
      #Section__home .home__headerMob .toggle-menu {
        background-color: #09ff00;
        cursor: pointer;
        position: relative;
        right: 15px;
        margin-top: 14px; }
    #Section__home .home__dropdown {
      height: 255px;
      width: 100%;
      position: fixed;
      top: 90px;
      transition: transform 0.8s;
      transform: translateY(-250%); }
      #Section__home .home__dropdown .dropdown__menu {
        list-style: none;
        position: relative;
        top: 20px; }
        #Section__home .home__dropdown .dropdown__menu .menu__list {
          list-style: none;
          height: 45px;
          font-size: 18px; }
          #Section__home .home__dropdown .dropdown__menu .menu__list .link {
            text-decoration: none;
            font-family: "FontCoolv";
            font-size: 20px;
            color: white;
            transition: all 0.5s; }
          #Section__home .home__dropdown .dropdown__menu .menu__list .link:hover {
            text-decoration: none;
            font-family: "FontCoolv";
            font-size: 20px;
            color: #e78709; }
    #Section__home .home__dropdown--show {
      transform: translateY(0); }
    #Section__home .home__main {
      height: 100vh;
      width: 100%;
      background-color: rgba(142, 255, 240, 0.336); }
  #Section__services {
    height: 800px;
    width: 100%; }
    #Section__services .services__main {
      height: 100vh;
      width: 100%;
      background-color: rgba(142, 255, 240, 0.336); }
  #Section__products {
    height: 800px;
    width: 100%; }
    #Section__products .products__main {
      height: 100vh;
      width: 100%;
      background-color: rgba(142, 255, 240, 0.336); }
  #Section__prices {
    height: 730px;
    width: 100%; }
    #Section__prices .prices__main {
      height: 100vh;
      width: 100%;
      background-color: rgba(142, 255, 240, 0.336);
      padding-left: 20px;
      padding-right: 20px; }
      #Section__prices .prices__main .main__TitlePrice {
        font-size: 55px; }
      #Section__prices .prices__main .main__Text {
        font-size: 20px; }
      #Section__prices .prices__main .main__ContainerMobile {
        display: flex;
        justify-content: center; }
        #Section__prices .prices__main .main__ContainerMobile .main__IframePrice {
          height: 315px;
          width: 460px; }
      #Section__prices .prices__main .main__ContainerMobile2 {
        display: flex;
        justify-content: center; }
        #Section__prices .prices__main .main__ContainerMobile2 .IMG__Odoo {
          width: 500px; }
  #Section__contact {
    height: 900px;
    width: 100%; }
    #Section__contact .contact__main {
      height: 100vh;
      width: 100%;
      background-color: rgba(142, 255, 240, 0.336); }
  .footer {
    height: 300px;
    width: 100%; } }

@media (min-width: 477px) and (max-width: 577px) {
  #Section__home {
    height: 100vh;
    width: 100%; }
    #Section__home .home__header {
      display: none; }
    #Section__home .home__headerMob {
      height: 90px;
      width: 100%;
      display: flex;
      justify-content: end;
      position: fixed;
      left: 0;
      right: 0; }
      #Section__home .home__headerMob .toggle-menu {
        background-color: #f5b608;
        cursor: pointer;
        position: relative;
        right: 15px;
        margin-top: 14px; }
    #Section__home .home__dropdown {
      height: 255px;
      width: 100%;
      position: fixed;
      top: 90px;
      transition: transform 0.8s;
      transform: translateY(-250%); }
      #Section__home .home__dropdown .dropdown__menu {
        list-style: none;
        position: relative;
        top: 20px; }
        #Section__home .home__dropdown .dropdown__menu .menu__list {
          list-style: none;
          height: 45px;
          font-size: 18px; }
          #Section__home .home__dropdown .dropdown__menu .menu__list .link {
            text-decoration: none;
            font-family: "FontCoolv";
            font-size: 20px;
            color: white;
            transition: all 0.5s; }
          #Section__home .home__dropdown .dropdown__menu .menu__list .link:hover {
            text-decoration: none;
            font-family: "FontCoolv";
            font-size: 20px;
            color: #e78709; }
    #Section__home .home__dropdown--show {
      transform: translateY(0); }
    #Section__home .home__main {
      height: 100vh;
      width: 100%;
      background-color: rgba(142, 255, 240, 0.336); }
  #Section__services {
    height: 800px;
    width: 100%; }
    #Section__services .services__main {
      height: 100vh;
      width: 100%;
      background-color: rgba(142, 255, 240, 0.336); }
  #Section__products {
    height: 800px;
    width: 100%; }
    #Section__products .products__main {
      height: 100vh;
      width: 100%;
      background-color: rgba(142, 255, 240, 0.336); }
  #Section__prices {
    height: 700px;
    width: 100%; }
    #Section__prices .prices__main {
      height: 100vh;
      width: 100%;
      background-color: rgba(142, 255, 240, 0.336);
      padding-left: 20px;
      padding-right: 20px; }
      #Section__prices .prices__main .main__TitlePrice {
        font-size: 55px; }
      #Section__prices .prices__main .main__Text {
        font-size: 20px; }
      #Section__prices .prices__main .main__ContainerMobile {
        display: flex;
        justify-content: center; }
        #Section__prices .prices__main .main__ContainerMobile .main__IframePrice {
          height: 315px;
          width: 460px; }
      #Section__prices .prices__main .main__ContainerMobile2 {
        display: flex;
        justify-content: center; }
        #Section__prices .prices__main .main__ContainerMobile2 .IMG__Odoo {
          width: 440px; }
  #Section__contact {
    height: 800px;
    width: 100%; }
    #Section__contact .contact__main {
      height: 100vh;
      width: 100%;
      background-color: rgba(142, 255, 240, 0.336); }
  .footer {
    height: 300px;
    width: 100%; } }

@media (max-width: 476px) {
  #Section__home {
    height: 100vh;
    width: 100%; }
    #Section__home .home__header {
      display: none; }
    #Section__home .home__headerMob {
      height: 90px;
      width: 100%;
      display: flex;
      justify-content: end;
      position: fixed;
      left: 0;
      right: 0; }
      #Section__home .home__headerMob .toggle-menu {
        background-color: white;
        cursor: pointer;
        position: relative;
        right: 15px;
        margin-top: 14px; }
    #Section__home .home__dropdown {
      height: 255px;
      width: 100%;
      position: fixed;
      top: 90px;
      transition: transform 0.8s;
      transform: translateY(-250%); }
      #Section__home .home__dropdown .dropdown__menu {
        list-style: none;
        position: relative;
        top: 20px; }
        #Section__home .home__dropdown .dropdown__menu .menu__list {
          list-style: none;
          height: 45px;
          font-size: 18px; }
          #Section__home .home__dropdown .dropdown__menu .menu__list .link {
            text-decoration: none;
            font-family: "FontCoolv";
            font-size: 20px;
            color: white;
            transition: all 0.5s; }
          #Section__home .home__dropdown .dropdown__menu .menu__list .link:hover {
            text-decoration: none;
            font-family: "FontCoolv";
            font-size: 20px;
            color: #e78709; }
    #Section__home .home__dropdown--show {
      transform: translateY(0); }
    #Section__home .home__main {
      height: 100vh;
      width: 100%;
      background-color: rgba(142, 255, 240, 0.336); }
  #Section__services {
    height: 800px;
    width: 100%; }
    #Section__services .services__main {
      height: 100vh;
      width: 100%;
      background-color: rgba(142, 255, 240, 0.336); }
  #Section__products {
    height: 100vh;
    width: 100%; }
    #Section__products .products__main {
      height: 800px;
      width: 100%; }
  #Section__prices {
    height: 680px;
    width: 100%; }
    #Section__prices .prices__main {
      height: 100vh;
      width: 100%;
      background-color: rgba(142, 255, 240, 0.336);
      padding-left: 20px;
      padding-right: 20px; }
      #Section__prices .prices__main .main__TitlePrice {
        font-size: 45px; }
      #Section__prices .prices__main .main__Text {
        font-size: 20px; }
      #Section__prices .prices__main .main__ContainerMobile {
        display: flex;
        justify-content: center; }
        #Section__prices .prices__main .main__ContainerMobile .main__IframePrice {
          height: 315px;
          width: 460px; }
      #Section__prices .prices__main .main__ContainerMobile2 {
        display: flex;
        justify-content: center; }
        #Section__prices .prices__main .main__ContainerMobile2 .IMG__Odoo {
          width: 310px; }
  #Section__contact {
    height: 800px;
    width: 100%; }
    #Section__contact .contact__main {
      height: 100vh;
      width: 100%;
      background-color: rgba(142, 255, 240, 0.336);
      padding-left: 20px;
      padding-right: 20px; }
      #Section__contact .contact__main .main__TitleContact {
        font-size: 46px; }
  .footer {
    height: 300px;
    width: 100%; } }
