//-------------MixinBg------------
@mixin Bg{          //@include Bg;              
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
//-------------MixinBg------------

//-------------MixinSections------------
@mixin Sections{     //@include Sections;                  
    height: 100vh;
    width: 100%;
}
//-------------MixinSections------------

//-------------MixinLink------------
@mixin Link{        //@include Link;                  
    text-decoration: none;
    font-family: "FontCoolv";
    font-size: 20px;
}
//-------------MixinLink------------

//-------------MixinLinkTB------------
@mixin LinkTB{        //@include LinkTB;                  
    text-decoration: none;
    font-family: "FontCoolv";
    font-size: 18px;
}
//-------------MixinLink------------

//-------------MixinLinkTB------------
@mixin Main{        //@include Main;                  
    height: 100vh;
    width: 100%;
    background-color: rgba(142, 255, 240, 0.616);
}
//-------------MixinLink------------

//-------------MixinBleeding------------
@mixin Bleeding{        //@include Bleeding;                  
    padding-left: 20px;
    padding-right: 20px;
}
//-------------MixinBleeding------------

//-------------VarsProducts-------------
$IMGProducts:(  //map-get($IMGProducts, IMG); 
    IMG: rgb(0, 102, 255)
);

$TextProducts:(  //map-get($TextProducts, TEXT);
    TextP: rgb(255, 0, 0)
);

$ContainersProducts:(    //map-get($ContainersProducts, Cuadros);
    Cuadros: rgb(0, 0, 0)
);
//-------------VarsProducts-------------

//-------------VarsServices-------------
$ContainerServices:(
    Container: rgb(77, 76, 76)  //map-get($ContainerServices, Container);
);

$Row1:(     //map-get($Row1, Row1);
    Row1: rgb(33, 90, 245)
);

$Row2:(    ////map-get($Row2, Row2);
    Row2: rgb(94, 135, 248)
);

@mixin SectionsServices{        //@include SectionsServices;                  
    height: 250px;
    width: 250px;
    background-color: rgb(110, 109, 109);
    border: 5px solid black;
}

@mixin SectionsServicesTB{        //@include SectionsServicesTB;                  
    height: 230px;
    width: 230px;
    background-color: rgb(110, 109, 109);
    border: 5px solid black;
}

@mixin SectionsServicesMB{        //@include SectionsServicesMB;                  
    height: 230px;
    width: 230px;
    background-color: rgb(110, 109, 109);
    border: 5px solid black;
}
//-------------VarsServices-------------

//-------------VarsContact-------------
$ContainerCont:(    //map-get($ContainerCont, ContainerContXS);
    ContainerCont: rgba(87, 87, 87, 0),
    ContainerContXS: rgba(245, 139, 139, 0)
);

@mixin SectionCont{  //@include SectionCont;                  
    height: 160px;
    width: 160px;
    border: 5px solid rgba(0, 0, 0, 0);
    background-color: rgba(245, 139, 139, 0);
    //border-radius: 20px;
}

@mixin IconsCont{   //@include IconsCont;  
    height: 50px;
    width: 50px;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0);
}

@mixin TextCont{        //@include TextCont;  
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    position: relative;
    right: 30px;
}

@mixin TextContXS{        //@include TextContXS;  
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    position: relative;
    right: 13px;
}
//-------------VarsContact-------------

